$content-width: 1024px;
$main: #33AADD;
$font-style: 'Marvel', sans-serif;
$font-color: #222222;
$link-color: #425469;
$link-hover-color: $main;
$heading-font: 'Raleway', sans-serif;
$heading-font-color: #425469;
$light: #E7EDF4;
$header: #882222;

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
